#main {
	background: url("../assets/banner.jpg") no-repeat;
	height: 91vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#main h1 {
	font-size: 4em;
}